@page
@model Library_Project.Pages.Admin.Rental.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Részletek</h1>

<div>
    <h4 style="border-bottom: 3px solid black">Kölcsönzés</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rental.RentalMemberName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rental.RentalMemberName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rental.RentalBookTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rental.RentalBookTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rental.RentalBookIsbn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rental.RentalBookIsbn)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Rental.RentalID" style="background-color: #5c3a93" class="btn btn-success">Módosít</a> |
    <a asp-page="./Index" class="btn btn-success">Vissza</a>
</div>
