@page
@model Library_Project.Pages.Admin.Rental.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" class="btn btn-success">Create New</a>
</p>
<table class="table table-striped">
    <thead style="background-image: linear-gradient(180deg, rgb(85, 104, 75) 0%, #008000 70%);
           color: #ffffff">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].RentalID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].RentalMemberName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].RentalBookTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].RentalBookIsbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].RentalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].ReturnDate)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Rental) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RentalID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalMemberName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalBookTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalBookIsbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>

            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RentalID" style="background-color: #5c3a93" class="btn btn-success">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RentalID" class="btn btn-warning">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RentalID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>