@page
@model Library_Project.Pages.Admin.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Részletek</h1>

<div>
    <h4 style="border-bottom: 3px solid black">Könyvek</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Books.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Books.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Books.isbnNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Books.isbnNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Books.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Books.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Books.Publisher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Books.Publisher)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Books.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Books.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Books.PublishDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Books.PublishDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Books.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Books.Quantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Books.Id" style="background-color: #5c3a93" class="btn btn-success">Módosít</a> |
    <a asp-page="./Index" class="btn btn-success">Vissza</a>
</div>
