@page
@model Library_Project.Pages.Admin.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<html>

<div class="container">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../admin">Könyvek</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="admin/member">Tagok</a>
                    </li>
                    <li>
                        <a class="nav-link" href="admin/rental">Kölcsönzések</a>
                    </li>
                </ul>
            </div>
        </nav>
</div>


<h1>Könyvek</h1>

<p>
    <a asp-page="Create" class="btn btn-success">Új Létrehozása</a>
</p>
<table class="table">
    <thead style="background-image: linear-gradient(180deg, rgb(85, 104, 75) 0%, #008000 70%);
           color: #ffffff">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].isbnNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].PublishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Quantity)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Books) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isbnNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id" style="background-color: #5c3a93" class="btn btn-success">Módosít</a>
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-warning">Részletek</a>
            </td>
            <td>
                <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Töröl</a>
            </td>
        </tr>
}
    </tbody>
</table>
</html>
