@page
@model Library_Project.Pages.Admin.Member.IndexModel

@{
    ViewData["Title"] = "Admin/Members/Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" class="btn btn-success">Új Létrehozása</a>
</p>
<table class="table">
    <thead style="background-image: linear-gradient(180deg, rgb(85, 104, 75) 0%, #008000 70%);
           color: #ffffff">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Members[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members[0].RegistrationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Members) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id" style="background-color: #5c3a93" class="btn btn-success">Módosít</a> |
                <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-warning">Részletek</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Töröl</a>
            </td>
        </tr>
}
    </tbody>
</table>
