@page "/books"
@using Library_Project.Data
@inject AppDbContext _dbcontext
<div class="row">
    <div class="col-8">
        <h3>Könyvek</h3>
    </div>
    <div class="col-4">
        <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Keresés cím alapján" aria-label="Search"
                 aria-describedby="search-addon" @bind-value="seString" @bind-value:event="oninput"/>
        </div>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Kiadó</th>
            <th>Szerző</th>
            <th>Cím</th>
            <th>Kategória</th>
            <th>Kiadás éve</th>
            <th>Kölcsönözhető</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in _dbcontext.Books.ToList().Where(p => p.Title.Contains(seString) && p.Id != _newBook.Id))
        {
            <tr>
                <th>@book.Id</th>
                <td>@book.Publisher</td>
                <td>@book.Author</td>
                <td>@book.Title</td>
                <td>@book.Category</td>
                <td>@book.PublishDate</td>
                @{
                        if (book.Quantity > 0)
                        {
                        <td>igen</td>
                        ;
                    }
                    else
                    {
                        <td>nem</td>
                        ;
                    }
                }
            </tr>
        }
    </tbody>
</table>

@code {

    private string seString { get; set; } = string.Empty;

    private Data.Books _newBook { get; set; } = new Data.Books();

}
