@page "/my-rents"
@using Library_Project.Data
@inject AppDbContext _dbcontext
<h3>Kölcsönzéseim</h3>

<div class="row">
    <div class="col-8">
        Add meg a neved:
    </div>
    <div class="col-4">
        <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Keresés" aria-label="Search"
                 aria-describedby="search-addon" @bind-value="seString" @bind-value:event="oninput"/>
        </div>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Kölcsönző neve</th>
            <th>Kölcsönzött könyv címe</th>
            <th>Kölcsönzött könyv ISBN száma</th>
            <th>Kölcsönzés dátuma</th>
            <th>Visszahozatal dátuma</th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var rent in _dbcontext.Rental.ToList().Where(p => p.RentalMemberName.Contains(seString) && p.RentalID != _newRent.RentalID))
        {
            <tr>
                <th>@rent.RentalID</th>
                <td>@rent.RentalMemberName</td>
                <td>@rent.RentalBookTitle</td>
                <td>@rent.RentalBookIsbn</td>
                <td>@rent.RentalDate</td>
                <td>@rent.ReturnDate</td>
            </tr>
        }
    </tbody>
</table>

@code {

    private string seString { get; set; } = string.Empty;

    private Data.Rental _newRent { get; set; } = new Data.Rental();

}
